<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dark.chat" >
	
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
		android:name="com.dark.chat.ChatApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
		android:resizeableActivity = "true">
		
		<meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_stat_ic_notification" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
		
		<activity 
			android:name=".Splashscreen"
			android:label="@string/app_name"
			android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		
		<activity 
			android:name=".SignInActivity"
			android:label="@string/app_name"
			android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
		
		<activity 
			android:name=".Join"
			android:label="Daftar"
			android:parentActivityName=".MainActivity"
			android:theme="@style/AppTheme">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value=".SecondActivity" />
		</activity>
		
		<activity 
			android:name=".Petunjuk"
			android:label="Petunjuk"
			android:parentActivityName=".Join"
			android:theme="@style/AppTheme">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value=".Email" />
		</activity>
		
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" 
			android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
		<activity 
			android:name=".Tentang" 
			android:label="About"
            android:parentActivityName=".MainActivity"
			android:theme="@style/AppTheme">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value=".MainActivity" />
		</activity>
		
		<activity 
			android:name=".Normal" 
			android:label="@string/app_name"
            android:parentActivityName=".MainActivity"
			android:theme="@style/AppTheme">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value=".MainActivity" />
		</activity>
		
		<activity 
			android:name=".Hacker" 
			android:label="@string/app_name"
            android:parentActivityName=".MainActivity"
			android:theme="@style/AppTheme">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value=".MainActivity" />
		</activity>
		
		<activity 
			android:name=".Member" 
			android:label="@string/app_name"
            android:parentActivityName=".MainActivity"
			android:theme="@style/AppTheme">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value=".MainActivity" />
		</activity>
		
		<activity 
			android:name=".Mission" 
			android:label="@string/app_name"
            android:parentActivityName=".MainActivity"
			android:theme="@style/AppTheme">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value=".MainActivity" />
		</activity>
		
		<activity 
			android:name=".Tutorial" 
			android:label="@string/app_name"
            android:parentActivityName=".MainActivity"
			android:theme="@style/AppTheme">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value=".MainActivity" />
		</activity>
		
		<activity 
			android:name=".Info" 
			android:label="Info"
            android:parentActivityName=".MainActivity"
			android:theme="@style/AppTheme">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value=".MainActivity" />
		</activity>

        <service
            android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <service
            android:name=".MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
		
    </application>

</manifest>
